{
    "globals": {},
    "env": {
        "mocha": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 13
    },
    "rules": {
        "no-new": 1,
        "no-octal": 1,
        "guard-for-in": 1,
        "no-fallthrough": 1,
        "no-console": 2,
        "default-case": 0,
        "max-nested-callbacks": [
            0,
            2
        ],
        "no-mixed-spaces-and-tabs": [
            0,
            false
        ],
        "no-else-return": 0,
        "curly": [
            1,
            "all"
        ],
        "no-native-reassign": 2,
        "yoda": [
            1,
            "never"
        ],
        "no-warning-comments": [
            1,
            {
                "location": "start",
                "terms": [
                    "todo",
                    "fixme",
                    "xxx"
                ]
            }
        ],
        "no-bitwise": 0,
        "no-unused-expressions": 2,
        "no-path-concat": 0,
        "comma-style": 0,
        "no-irregular-whitespace": 1,
        "new-cap": [
            1,
            {"capIsNew": false}
        ],
        "no-new-wrappers": 1,
        "wrap-regex": 0,
        "space-infix-ops": 1,
        "no-sync": 0,
        "new-parens": 1,
        "no-process-exit": 0,
        "eol-last": 0,
        "no-control-regex": 2,
        "block-scoped-var": 2,
        "no-new-object": 1,
        "comma-spacing": 0,
        "complexity": [
            1,
            5
        ],
        "no-inner-declarations": [
            2,
            "functions"
        ],
        "no-implied-eval": 1,
        "no-undef-init": 1,
        "no-plusplus": 0,
        "no-array-constructor": 1,
        "key-spacing": [
            0,
            {
                "afterColon": true,
                "beforeColon": false
            }
        ],
        "no-floating-decimal": 0,
        "no-label-var": 1,
        "no-with": 2,
        "no-alert": 1,
        "max-params": [
            1,
            5
        ],
        "quote-props": 0,
        "no-proto": 1,
        "vars-on-top": 0,
        "no-use-before-define": 1,
		"linebreak-style": ["error", "unix"],
        "no-redeclare": 1,
        "camelcase": 1,
        "no-eq-null": 1,
        "consistent-return": 1,
        "no-mixed-requires": [
            0,
            false
        ],
        "semi": 2,
        "no-labels": 1,
        "no-caller": 2,
        "no-spaced-func": 1,
        "max-depth": [
            1,
            3
        ],
		"max-statements-per-line": [
			1, {
				"max": 1
			}
		],
        "no-extra-semi": 1,
        "space-in-brackets": [
            0,
            "never"
        ],
        "no-empty": 1,
        "no-lonely-if": 0,
        "no-regex-spaces": 2,
        "keyword-spacing": 1,
        "no-multi-spaces": 1,
        "max-statements": [
            1,
            30
        ],
        "no-func-assign": 2,
        "no-extra-boolean-cast": 1,
        "no-sparse-arrays": 2,
        "func-names": 0,
        "no-reserved-keys": 0,
        "no-loop-func": 1,
        "no-constant-condition": 2,
        "no-nested-ternary": 1,
        "no-ternary": 0,
        "no-extend-native": 1,
        "no-sequences": 1,
        "space-unary-word-ops": 0,
        "no-iterator": 1,
        "sort-vars": 0,
        "valid-typeof": 2,
        "strict": ["error", "global"],
        "no-multi-str": 1,
        "no-ex-assign": 2,
        "no-eval": 2,
        "no-shadow-restricted-names": 1,
        "no-empty-character-class": 2,
        "no-self-compare": 1,
        "no-shadow": 1,
        "valid-jsdoc": [
            1,
            {"requireReturn": false}
        ],
        "no-extra-bind": 1,
        "eqeqeq": 1,
        "no-invalid-regexp": 2,
        "no-cond-assign": 2,
        "brace-style": [
            0,
            "1tbs"
        ],
        "no-new-require": 0,
        "use-isnan": 2,
        "no-unreachable": 1,
        "no-delete-var": 1,
        "no-restricted-modules": 0,
        "no-catch-shadow": 1,
        "no-obj-calls": 2,
        "no-return-assign": 1,
        "no-octal-escape": 1,
        "no-void": 0,
        "no-undef": 2,
        "handle-callback-err": 0,
        "no-multiple-empty-lines": [
            0,
            {"max": 2}
        ],
        "space-after-keywords": [
            0,
            "always"
        ],
        "max-len": [
            1,
            200
        ],
        "no-extra-parens": 0,
        "no-undefined": 0,
        "padded-blocks": 0,
        "no-process-env": 0,
        "one-var": 0,
        "no-extra-strict": 0,
        "no-script-url": 1,
        "comma-dangle": 0,
        "no-trailing-spaces": 0,
        "space-in-parens": [
            0,
            "never"
        ],
        "dot-notation": 1,
        "spaced-line-comment": [
            0,
            "always"
        ],
        "no-new-func": 2,
        "no-negated-in-lhs": 2,
        "no-div-regex": 0,
        "no-underscore-dangle": 0,
		"no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
        "semi-spacing": 1,
        "quotes": [
            1,
            "double",
            "avoid-escape"
        ],
        "space-before-blocks": [
            0,
            "always"
        ],
        "radix": 1,
        "wrap-iife": 1,
        "no-dupe-keys": 2,
        "consistent-this": [
            1,
            "that"
        ],
        "no-lone-blocks": 1,
        "func-style": [
            0,
            "declaration"
        ],
        "no-debugger": 2,
		"no-throw-literal": "error",
		"no-useless-return" : "error"
    }
}
